.address {
  font-size: 18px;
  max-width: 210px;
  color: #fff;
}

.address-location {
  margin-top: 28px;
  display: inline-block;
}

@media (max-width: 800px) {
  .address-location {
    margin-top: 20px;
  }

  .address-caption {
    font-size: 26px;
  }
}
